.Form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Note-editable {
  width: 100%;
  border: none;
  padding: 16px;
  background: transparent;
  color: inherit;
}

.Note-editable:focus-visible {
  outline: 0;
  box-shadow: inset 0px 0px 0px 2px white;
}

.Note-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(21, 27, 23, 0.7); /* Réglez la valeur alpha ici */
}

.Note-content {
  flex-grow: 1;
  resize: none;
  font-family: inherit;
  font-size: 16px;
  background-color: rgba(21, 27, 23, 0.7); /* Réglez la valeur alpha ici */
}

.Note-container {
  background-color: var(--note-color, rgba(21, 27, 23, 0.7)); /* Utilisez la variable de couleur de la note */
}

.Note-actions {
  font-size: 14px;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}
