.Side {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(0, 17, 1);
}

.Main {
  height: 100vh;
  margin-inline-start: 240px;
  background-image: url("/c:/Users/detzi/Bureau/app_note/public/feuilles.jpg");
}

.Loading-wrapper {
  padding: 12px;
}

.Create-note-wrapper {
  padding: 12px;
}

.Note-button {
  text-align: left;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background: none;
  color: inherit;
  font-weight: bold;
}

.Note-container {
  display: flex;
}


.Note-button-selected {
  background: rgb(0, 46, 17);
}

.Note-button:hover {
  background: rgb(0, 66, 24);
}
