/* Déclaration de la variable globale */
:root {
  --selected-color: #012907; /* Définir une couleur par défaut */
}


/* Section de la SideBar */
.Side {
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  width: 400px;
  top: 50px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(0, 17, 1);
}

/* Section principale de l'application */
.Main {
  height: 100vh;
  margin-left: 400px;
  padding-top: 50px;
  background-image: url("/public/feuilles.jpg");
}

.Loading-wrapper {
  padding: 12px;
}

.Create-note-wrapper {
  padding: 12px;
}

/* Section contenant le titre dans la SideBar */
.NoteTitle-button {
  text-align: left;
  width: calc(100% - 24px); 
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: var(--note-color, rgba(21, 27, 23, 0.7));
  color: inherit;
  font-weight: bold;
}

/* Section contenant la CheckBox dans la SideBar */
.Note-container {
  display: flex;
  align-items: center;
}
/* Marge à droite de la Side pour la case à cocher */
.CheckCase {
  margin-right: 12px; 
}

/* Lorsque l'on sélectionne un titre de note */
.NoteTitle-button-selected {
  background-color: rgb(0, 66, 24);
}

/* Lorsque l'on survole un titre de note */
.NoteTitle-button:hover {
  background: rgb(0, 66, 24);
}

/* Barre horizontale */
.Top {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: rgb(34, 42, 35);
  border-bottom: 1px solid #ccc;
  border: none; 
  margin-bottom: 0;
  margin-top: 0;
}


/* Conteneur de la barre de recherche */
.Search-wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  width: 10px;
  border-radius: 5px;
}

/* Champ de saisie de la barre de recherche */
.Search-wrapper input {
  z-index: 1;
  flex-grow: 1;
  border: none;
  outline: none;
}

/* Bouton d'effacement de la barre de recherche */
.Clear-button {
  z-index: 1;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

/* Change la couleur du bouton lorsqu'il est survolé */
.Clear-button:hover {
  z-index: 1;
  background-color: #e57373;
}
