/* Déclaration de la variable globale */
:root {
  --selected-color: #012907; /* Définir une couleur par défaut */
}

/* Section de la SideBar */
.Side {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(0, 17, 1);
}

.Main {
  height: 100vh;
  margin-inline-start: 240px;
  background-image: url("/public/feuilles.jpg");
}

.Loading-wrapper {
  padding: 12px;
}

.Create-note-wrapper {
  padding: 12px;
}

/* Section contenant le titre dans la SideBar */
.Note-button {
  text-align: left;
  width: calc(100% - 24px); 
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background: none;
  color: inherit;
  font-weight: bold;
}

/* Section contenant la CheckBox dans la SideBar */
.Note-container {
  display: flex;
  align-items: center;
}
/* Marge à droite pour la case à cocher */
.CheckCase {
  margin-right: 12px; 
}

/* Lorsque l'on sélectionne un titre de note */
.Note-button-selected {
  background-color: var(--selected-color);
}

/* Lorsque l'on survole un titre de note */
.Note-button:hover {
  background: rgb(0, 66, 24);
}

.Color-picker-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.Color-picker-button:hover {
  opacity: 0.8;
}
